<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4 fw-bolder mt-4 text-center">Mini Messageboard</h1>
      <a href="/new" class="btn btn-success text-light">Add</a>
      <% messages.forEach(message => {%>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title fw-bolder text-primary"><%= message.user%></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= message.added.toLocaleDateString()%>
          </div>
          <div class="card-text"><%= message.text%></div>
        </div>
      </div>
      <% })%>
    </div>
  </body>
</html>
